<div id="page-wrapper">
     <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">My Resources</h1>
        </div>
                <!-- /.col-lg-12 -->
        </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                        <!-- /.panel-heading -->
                            <div class="panel-body">
                                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables">
                                    <thead>
                                        <tr>
                                           <th>Title</th>
                                            <th>Type</th>
                                            <th>Role</th>
                                            <th>Last Modified dataTables</th>
                                        </tr>
                                    </thead>
                                    <tbody id="resources">
                                        <tr class="odd gradeX" id="tableRow">
                                            <td class="dropDown"><a href="/ACCESS_TeamSpecter/newProject"><i class="glyphicon glyphicon-chevron-down"></i> Project Title 1</a>
                                                <div class="dropdown-content">
                                                     <a href="../../ACCESS_TeamSpecter/initiativeDetailView/">Initiative 1</a>
                                                     <a href="../../ACCESS_TeamSpecter/initiativeDetailView/">Initiative 2</a>
                                                     <a href="../../ACCESS_TeamSpecter/initiativeDetailView/">Initiative 3</a>
                                                </div>
                                            </td>
                                            <td>Project </td>
                                            <td>Owner</td>
                                            <td class="center">MM-DD-YYYY</td>
                                        </tr>
                                        <tr class="even gradeC" id="tableRow">
                                            <td class="dropbtn"><a href="../../ACCESS/projectDetailView/"><i class="glyphicon glyphicon-chevron-down"></i> Project Title 2</a>
                                                <div class="dropdown-content">
                                                     <a href="../../ACCESS_TeamSpecter/initiativeDetailView/">Initiative 1</a>
                                                     <a href="../../ACCESS_TeamSpecter/initiativeDetailView/">Initiative 2</a>
                                                     <a href="../../ACCESS_TeamSpecter/initiativeDetailView/">Initiative 3</a>
                                                </div>
                                            </td>
                                            <td>Project</td>
                                            <td>Pa</td>
                                            <td class="center">MM-DD-YYYY</td>
                                        </tr>
                                        <tr class="odd gradeA" id="tableRow">
                                            <td class="dropbtn"><a href="../../ACCESS/initiativeDetailView/"><i class="glyphicon glyphicon-chevron-down"></i> Initiative Title 2</a>
                                                <div class="dropdown-content">
                                                     <a href="../../ACCESS_TeamSpecter/activityDetailView/">Activity 1</a>
                                                     <a href="../../ACCESS_TeamSpecter/activityDetailView/">Activity 2</a>
                                                     <a href="../../ACCESS_TeamSpecter/activityDetailView/">Activity 3</a>
                                                </div>
                                            </td>
                                            <td>Initative </td>
                                            <td>IA</td>
                                            <td class="center">MM-DD-YYYY</td>
                                        </tr>
                                        <tr class="even gradeA">
                                            <td><a href="../../ACCESS_TeamSpecter/activityDetailView/"><i class="glyphicon glyphicon-chevron-down"></i> Activity Title 3</a></td>
                                            <td>Activity</td>
                                            <td>AE</td>
                                            <td class="center">MM-DD-YYYY</td>
                                        </tr>
                                          <tr class="odd gradeX" id="tableRow">
                                            <td class="dropbtn"><a href="../../ACCESS_TeamSpecter/projectDetailView/"><i class="glyphicon glyphicon-chevron-down"></i> Project Title 3</a>
                                                <div class="dropdown-content">
                                                     <a href="#">Initiative 1</a>
                                                     <a href="#">Initiative 2</a>
                                                     <a href="#">Initiative 3</a>
                                                </div>
                                            </td>
                                            <td>Project </td>
                                            <td>Owner</td>
                                            <td class="center">MM-DD-YYYY</td>
                                        </tr>
                                        <tr class="even gradeC" id="tableRow">
                                            <td class="dropbtn"><a href="../../ACCESS_TeamSpecter/projectDetailView/"><i class="glyphicon glyphicon-chevron-down"></i> Project Title 4</a>
                                                <div class="dropdown-content">
                                                     <a href="#">Initiative 1</a>
                                                     <a href="#">Initiative 2</a>
                                                     <a href="#">Initiative 3</a>
                                                </div>
                                            </td>
                                            <td>Project </td>
                                            <td>Pa</td>
                                            <td class="center">MM-DD-YYYY</td>
                                        </tr>
                                        <tr class="odd gradeA">
                                            <td><a href="../../ACCESS_TeamSpecter/initiativeDetailView/"><i class="glyphicon glyphicon-chevron-down"></i> Initiative Title 3</a></td>
                                            <td>Initative </td>
                                            <td>IA</td>
                                            <td class="center">MM-DD-YYYY</td>
                                        </tr>
                                        <tr class="even gradeA">
                                            <td><a href="../../ACCESS_TeamSpecter/activityDetailView/"><i class="glyphicon glyphicon-chevron-down"></i> Activity Title 3</a></td>
                                            <td>Activity</td>
                                            <td>AE</td>
                                            <td class="center">MM-DD-YYYY</td>
                                        </tr>  <tr class="odd gradeX">
                                            <td>Project Title 5</td>
                                            <td>Project </td>
                                            <td>Owner</td>
                                            <td class="center">MM-DD-YYYY</td>
                                        </tr>
                                        <tr class="even gradeC">
                                            <td>Project Title 6</td>
                                            <td>Project </td>
                                            <td>Pa</td>
                                            <td class="center">MM-DD-YYYY</td>
                                        </tr>
                                        <tr class="odd gradeA">
                                            <td><a href="../../ACCESS_TeamSpecter/initiativeDetailView/"><i class="glyphicon glyphicon-chevron-down"></i> Initiative Title 1</a></td>
                                            <td>Initative </td>
                                            <td>IA</td>
                                            <td class="center">MM-DD-YYYY</td>
                                        </tr>
                                        <tr class="even gradeA">
                                            <td><a href="../../ACCESS_TeamSpecter/activityDetailView/"><i class="glyphicon glyphicon-chevron-down"></i> Activity Title 1</a></td>
                                            <td>Activity</td>
                                            <td>AE</td>
                                            <td class="center">MM-DD-YYYY</td>
                                        </tr>
                                        
                                    </tbody>
                             </table>
                            <!-- /.table-responsive -->
                        </div>

                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-2 col-md-offset-8">
                        <a type="button" class="btn btn-primary" href="/ACCESS_TeamSpecter/newProject">Add Project</a>
                    </div>
                    <div class="col-md-2">
                         <a type="button" class="btn btn-primary" href="/ACCESS_TeamSpecter/newInitiative/">Add Initiative</a>
                    </div>
                    <div class="col-md-2">
                         <a type="button" class="btn btn-primary" href="/ACCESS_TeamSpecter/newActivity/">Add Activity</a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
 <!-- /#wrapper -->