<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Initiative Detail View</h1> 
            <small><span class="glyphicon glyphicon-star"></span>Required Field</small>
            <hr>  
        </div>
    </div>