<div class="row">
       <div class="col-lg-12">
           <div class="panel panel-primary">
                <div class="panel-heading">Initativeeeeeeeee Information</div>
                    <div class="panel-body">
                    <div class="form" action="">
                        <div class="row">
                            <div class="col-lg-4">
                                    <div class="form-group">
                                        <label><span class="glyphicon glyphicon-star"></span>Title</label>
                                        <input class="form-control" id="Title">
                                    </div>
                            </div>
                            <div class="col-lg-2">
                                    <div class="form-group">
                                        <label>Keyword(s)</label>
                                        <input class="form-control" id="Keyword" placeholder="Keyword">
                                    </div> 
                            </div>
                             <div class="col-lg-1" id="plus-Buttom">
                                <button type="button" class="btn btn-success btn-circle btn-sm"><i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="col-lg-2">
                                    <div class="form-group">
                                        <label><span class="glyphicon glyphicon-star"></span>Category</label>
                                            <select class="form-control" >
                                                <option>Learning Communities</option>
                                                <option>Development Workshops</option>
                                                <option>Mentoring</option>
                                                <option>Student Employment
                                                <option>Student Leadership</option>
                                                <option>First Year Experience</option>
                                                <option>Undergraduate Research & Creative Activity</option>
                                                <option>Internship & Practicum</option>
                                                <option>Study Abroad/Study Away</option>
                                                <option>Community Engagement & Service Learning</option>
                                                <option>Capstone Experience</option>
                                            </select>
                                    </div>
                            </div>
                            <div class="col-lg-2">
                                    <div class="form-group">
                                        <label><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-calendar"></span>
                                        Start Date</label>
                                        <input class="form-control" id="startDate" placeholder="MM/DD/YYYY">
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                    <div class="form-group">
                                        <label><span class="glyphicon glyphicon-star"></span>Description</label>
                                        <textarea class="form-control" rows="3"></textarea>        
                                </div>
                             </div>
                             <div class="col-lg-2 col-md-offset-3">
                                    <div class="form-group">
                                        <label><span class="glyphicon glyphicon-calendar"></span>
                                        End Date</label>
                                        <input class="form-control" id="endDate" placeholder="MM/DD/YYYY">
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10">
                                    <div class="form-group">
                                        <label>Purpose</label>
                                        <input class="form-control" id="Title">
                                    </div>
                            </div>
                             <div class="col-lg-1" id="plus-Buttom">
                                <button type="button" class="btn btn-success btn-circle btn-sm"><i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                              
                                    <div class="form-group">  
                                        <label>Goals</label>
                                        <select class="form-control" >
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>
                                    </div>
                              
                            </div>
                            <div class="col-lg-1" id="plus-Buttom">
                                <button type="button" class="btn btn-success btn-circle btn-sm"><i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="col-lg-4">
                              
                                    <div class="form-group">  
                                        <label>Objectives</label>
                                        <select class="form-control" >
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>
                                    </div>
                              
                            </div>
                            <div class="col-lg-1" id="plus-Buttom">
                                <button type="button" class="btn btn-success btn-circle btn-sm"><i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                
                                    <div class="form-group">  
                                        <label>Document Type</label>
                                        <select class="form-control" >
                                            <option>Data</option>
                                            <option>Evaluation Report</option>
                                            <option>Annual Report</option>
                                        </select>
                                    </div>
                               
                            </div>
                            <div class="col-lg-4">
                           
                                    <div class="form-group">  
                                        <label>Attachment/Link</label>
                                        <select class="form-control" >
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>
                                        <h5> or </h5>
                                        <input type="file">
                                    </div>
                               
                            </div>
                            <div class="col-lg-1" id="plus-Buttom">
                                <button type="button" class="btn btn-success btn-circle btn-sm"><i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11">
                               
                                    <div class="form-group">  
                                        <label>Websiteeeeeeeeee</label>
                                        
                                    </div>
                              
                            </div>
                            <div class="col-lg-1" id="plus-Buttom">
                                <button type="button" class="btn btn-success btn-circle btn-sm"><i class="fa fa-plus"></i>
                                </button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>