<div class="row">
       <div class="col-lg-12">
           <div class="panel panel-primary">
                <div class="panel-heading">Activity Information</div>
                    <div class="panel-body" id="Project Information">
                    <div class="form">
                        <div class="row">
                            <div class="col-lg-4">
                                    <div class="form-group">
                                        <label><span class="glyphicon glyphicon-star"></span>Title</label>
                                        <input class="form-control" id="Title">
                                    </div>
                            </div>
                            <div class="col-lg-2">
                                    <div class="form-group">
                                        <label><span class="glyphicon glyphicon-star"></span>Keyword(s)</label>
                                        <input class="form-control" name="title" id="Title">
                                    </div> 
                            </div>
                             <div class="col-lg-1" id="plus-Buttom">
                                <button type="button" class="btn btn-success btn-circle btn-sm"><i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="col-lg-2">
                                    <div class="form-group">
                                        <label><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-calendar"></span>
                                        Start Date</label>
                                        <input class="form-control" id="startDate" placeholder="MM/DD/YYYY">
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                    <div class="form-group">
                                        <label><span class="glyphicon glyphicon-star"></span>Description</label>
                                        <textarea class="form-control" rows="3"></textarea>        
                                </div>
                             </div>
                             <div class="col-lg-2 col-lg-offset-1">
                                    <div class="form-group">
                                        <label><span class="glyphicon glyphicon-calendar"></span>
                                        End Date</label>
                                        <input class="form-control" id="startDate" placeholder="MM/DD/YYYY">
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                              <h5>Target Audience</h5>
                            </div>
                            <div class="col-lg-2 col-lg-offset-1">
                                <h5>Description</h5>
                            </div>
                             
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                    <div class="form-group">  
                                    <label><span class="glyphicon glyphicon-star"></span>Classification</label>
                                        <select class="form-control" >
                                            <option>Freshman</option>
                                            <option>Sophomore</option>
                                            <option>Junior</option>
                                            <option>Senior</option>
                                            <option>Master</option>
                                            <option>Ph.D</option>
                                            <option>All</option>
                                        </select>
                                    </div>
                              
                            </div>
                            <div class="col-lg-6">
                                  <input class="form-control" id="targetAudienceDescription">
                            </div>
                            <div class="col-lg-1">
                                <button type="button" class="btn btn-success btn-circle btn-sm"><i class="fa fa-plus"></i>
                                </button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>