     <div class="row">
        <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Activities Associated with Initiative</div>
                            <div class="panel-body">
                                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>Creation Date</th>
                                            <th>Linked Initiative</th>
                                            <th>Owner</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX" id="tableRow">
                                            <td><a href="../../Views/activityDetailView.php">Activity Title 1</a></td>
                                            <td>Description 1</td>
                                            <td class="center">MM-DD-YYYY</td>
                                            <td>No</td>
                                            <td>Onwer A</td>
                                        </tr>
                                        <tr class="even gradeC" id="tableRow">
                                            <td><a href="../../Views/activityDetailView.php">Activity Title 2</a></td>
                                            <td>Description 2</td>
                                            <td class="center">MM-DD-YYYY</td>
                                            <td>Yes</td>
                                            <td>Onwer A</td>
                                        </tr>
                                        <tr class="odd gradeA" id="tableRow">
                                            <td><a href="../../Views/activityDetailView.php">Activity Title 3</a></td>
                                            <td>Description 3</td>
                                            <td class="center">MM-DD-YYYY</td>
                                            <td>No</td>
                                            <td>Onwer A</td>
                                        </tr>
                                        <tr class="even gradeA">
                                            <td><a href="../../Views/activityDetailView.php">Activity Title 4</a></td>
                                            <td>Description 4</td>
                                            <td class="center">MM-DD-YYYY</td>
                                            <td>Yes</td>
                                            <td>Onwer A</td>
                                        </tr>
                                        <tr class="even gradeA">
                                            <td><a href="../../Views/activityDetailView.php">Activity Title 5</a></td>
                                            <td>Description 5</td>
                                            <td class="center">MM-DD-YYYY</td>
                                            <td>No</td>
                                            <td>Top Owner</td>
                                        </tr>
                                        <tr class="even gradeA">
                                            <td><a href="../../Views/activityDetailView.php">Activity Title 6</a></td>
                                            <td>Description 6</td>
                                            <td class="center">MM-DD-YYYY</td>
                                            <td>No</td>
                                            <td>Kek Owner</td>
                                        </tr>
                                    </tbody>
                             </table>
                            <!-- /.table-responsive -->
                            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2 col-lg-offset-7">
                                <button type="button" class="btn btn-primary">Add Activity</button>
                        </div>
                            <div class="col-lg-2">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Link Existing Activity</button>
                        </div>
                    </div>
                </div>
            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            
            <!-- /.row -->

      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header" style="background-color: #337ab7; color: #fff ">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              
              <h4 class="modal-title">Link Existing Activity</h4>
              <small>Please select an activity</small>
            </div>
            <div class="modal-body">
              <div class="row">
            <div class="col-md-12">
                <div class="adv-table" id="dynamic"> 
                    <table class="display table table-bordered table-striped" id="students">
                        <thead>
                            <tr>
                                <th>    </th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Activity Date</th>
                                <th>Linked Initiative</th>
                                <th>Owner</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th><div class="checkbox"><label><input type="checkbox" value=""></label></div></th>
                                <td>Activity Title 1</td>
                                <td>Description 1</td>
                                <td>MM-DD-YYYY</td>
                                <td>No</td>
                                <td>Memo</td>
                            </tr>
                            <tr>
                                <th><div class="checkbox"><label><input type="checkbox" value=""></label></div></th>
                                <td>Activity Title 2</td>
                                <td>Description 2</td>
                                <td>MM-DD-YYYY</td>
                                <td>No</td>
                                <td>Memo</td>
                            </tr>

                    </table>
                </div>
            </div>
        </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" value="Link" class="btn btn-primary"/>
            </div>
          </div>
          
        </div>
      </div>

