 <div class="row">
        <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Initiative Associated with Project </div>
                            <div class="panel-body">
                                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>Creation Date</th>
                                            <th>Linked Initiative</th>
                                            <th>Owner</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX" id="tableRow">
                                            <td><a href="../../Views/initiativeDetailView.php">Initiative Title 1</a></td>
                                            <td>Description 1</td>
                                            <td class="center">MM-DD-YYYY</td>
                                            <td>No</td>
                                            <td>Onwer A</td>
                                        </tr>
                                        <tr class="even gradeC" id="tableRow">
                                            <td><a href="../../Views/initiativeDetailView.php">Initiative Title 2</a></td>
                                            <td>Description 2</td>
                                            <td class="center">MM-DD-YYYY</td>
                                            <td>Yes</td>
                                            <td>Onwer A</td>
                                        </tr>
                                    </tbody>
                            </table>
                            <!-- /.table-responsive -->
                            <div class="row">
                                <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-2 col-lg-offset-7">
                                                <button type="button" class="btn btn-primary">Add Initiative</button>
                                            </div>
                                            <div class="col-lg-2">
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Link Existing Initiative</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                      <!-- /.row -->

                      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header" style="background-color: #337ab7; color: #fff ">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              
              <h4 class="modal-title">Link Existing Initiative</h4>
              <small>Please select initiative(s) to link to the project</small>
            </div>
            <div class="modal-body">
              <div class="row">
            <div class="col-md-12">
                <div class="adv-table" id="dynamic"> 
                    <table class="display table table-bordered table-striped" id="students">
                        <thead>
                            <tr>
                                <th>    </th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Activity Date</th>
                                <th>Linked Initiative</th>
                                <th>Owner</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th><div class="checkbox"><label><input type="checkbox" value=""></label></div></th>
                                <td>Initiative Title 1</td>
                                <td>Description 1</td>
                                <td>MM-DD-YYYY</td>
                                <td>No</td>
                                <td>Memo</td>
                            </tr>
                            <tr>
                                <th><div class="checkbox"><label><input type="checkbox" value=""></label></div></th>
                                <td>Initiative Title 2</td>
                                <td>Description 2</td>
                                <td>MM-DD-YYYY</td>
                                <td>No</td>
                                <td>Memo</td>
                            </tr>

                    </table>
                </div>
            </div>
        </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" value="Link" class="btn btn-primary"/>
            </div>
          </div>
          
        </div>
      </div>