<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary">
			<div class="panel-heading">Project Membership</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-3">
							<div class="form">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input class="form-control" id="Title">
                                    </div>
                                </div>
						</div>
						<div class="col-lg-3">
							<div class="form">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input class="form-control" id="Title">
                                    </div>
                                </div>
						</div>
						<div class="col-lg-3">
							<div class="form">
                                    <div class="form-group">
                                        <label>Role</label>
                                        <select class="form-control" >
                                            <option>PA</option>
                                            <option>IA</option>
                                            <option>AE</option>
                                        </select>
                                    </div>
                                </div>
						</div>
						<div class="col-lg-3">
							<div class="row">
								<label>Action</label>
							</div>
                            <div class="row">
                             	<button type="button" class="btn btn-danger btn-circle btn-sm"><i class="fa fa-times"></i>
                                </button>
                                <button type="button" class="btn btn-success btn-circle btn-sm"><i class="fa fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-primary btn-round-xs btn-xs"> View Members
                                </button>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>
