<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Project Detail View</h1> 
            <small><span class="glyphicon glyphicon-star"></span>Required Field</small>
            <hr>
            <div class="form-group">
                <label><span class="glyphicon glyphicon-star"></span>Funded Project?</label>
                <label class="radio-inline">
                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked="">No
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2" >Yes
                </label>
            </div>  
        </div>
    </div>