<div class="row">
       <div class="col-lg-12">
           <div class="panel panel-primary">
                <div class="panel-heading">Activity Information</div>
                    <div class="panel-body" id="Project Information">
                    <form action="../../../../ACCESS_TeamSpecter/ActivityControllerServlet" method="get">
                    	<input type="hidden" value="CREATE" name="command">
                        <div class="row">
                            <div class="col-lg-4">
                                    <div class="form-group">
                                        <label><span class="glyphicon glyphicon-star"></span>Title</label>
                                        <input class="form-control" name="title" id="title">
                                    </div>
                            </div>
                            <div class="col-lg-2">
                                    <div class="form-group">
                                        <label><span class="glyphicon glyphicon-star"></span>Keyword(s)</label>
                                        <input class="form-control" name="keywords" id="Keywords">
                                    </div> 
                            </div>
                             <div class="col-lg-1" id="plus-Buttom">
                                <button type="button" class="btn btn-success btn-circle btn-sm"><i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="col-lg-2">
                                    <div class="form-group">
                                        <label><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-calendar"></span>
                                        Start Date</label>
                                        <input class="form-control" name = "startDate" id="startDate" placeholder="MM/DD/YYYY">
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                    <div class="form-group">
                                        <label><span class="glyphicon glyphicon-star"></span>Description</label>
                                        <textarea class="form-control" name = "activityDescription" id = activityDescription rows="3"></textarea>        
                                </div>
                             </div>
                             <div class="col-lg-2 col-lg-offset-1">
                                    <div class="form-group">
                                        <label><span class="glyphicon glyphicon-calendar"></span>
                                        End Date</label>
                                        <input class="form-control" name = "endDate" id="endDate" placeholder="MM/DD/YYYY">
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                              <h5>Target Audience</h5>
                            </div>
                            <div class="col-lg-2 col-lg-offset-1">
                                <h5>Description</h5>
                            </div>
                             
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                    <div class="form-group">  
                                    <label><span class="glyphicon glyphicon-star"></span>Classification</label>
                                        <select class="form-control" name = "classification" id = "classfication">
                                            <option>Freshman</option>
                                            <option>Sophomore</option>
                                            <option>Junior</option>
                                            <option>Senior</option>
                                            <option>Master</option>
                                            <option>Ph.D</option>
                                            <option>All</option>
                                        </select>
                                    </div>
                              	</div>
                            </div>
                            <div class="col-lg-6">
                                  <input class="form-control" name = "audienceDescription" id="audienceDescription">
                           </div>
                            <div class="row">    
                            <div class="col-md-12">
                                <div class="col-md-2 col-md-offset-10">
                                    <div class="modal-footer" style= "border-top-width: 0px;">
                                        <input type="submit" value="Submit" class="btn btn-primary" />
                                     </div>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
          </div>
</div>

