 <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <!-- /.panel-heading -->
            <div class="panel-heading">Activity Course Mapping Information</div>
            <div class="panel-body">
                                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3">
                                    <div class="form-group">  
                                    <label>Semester</label>
                                        <select class="form-control" >
                                            <option>Fall 2014</option>
                                            <option>Spring 2015</option>
                                            <option>Summer 2015</option>
                                            <option>Fall 2015</option>
                                            <option>Spring 2016</option>
                                            <option>Summer 2016</option>
                                            <option>Spring 2016</option>
                                        </select>
                                    </div>
                              
                            </div>
                            <div class="col-lg-2">
                                <label>Course Number</label>
                                  <input class="form-control" id="">
                            </div>
                            <div class="col-lg-1" id="plus-Buttom">
                                <button type="button" class="btn btn-success btn-circle btn-sm"><i class="fa fa-plus"></i>
                                </button>
                            </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>